USE [Amodat712]
GO
/****** Object:  Table [dbo].[ClientProductsRel]    Script Date: 01-Apr-25 11:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProductsRel](
	[ClientID] [dbo].[utClientIDLong] NOT NULL,
	[ClientProductID] [dbo].[utClientProdID] NOT NULL,
	[OrderBy] [int] NOT NULL,
 CONSTRAINT [PK_ClientProductsRel] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC,
	[ClientProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ClientProductsRel] UNIQUE NONCLUSTERED 
(
	[ClientID] ASC,
	[OrderBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientProductsRel] ADD  CONSTRAINT [DF_ClientProductsRel_OrderBy]  DEFAULT (0) FOR [OrderBy]
GO
