USE [AmodatIntegrationHHH_Client]
GO
/****** Object:  View [dbo].[WarehouseStock_Batch]    Script Date: 01-Apr-25 11:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE          View [dbo].[WarehouseStock_Batch]
as
--SELECT     ITEMKEY AS ProductID, CONVERT(decimal(18, 2), QUANTITY) AS InStock, '1' AS WarehouseID
--FROM         LNKHHH.HHHDemo.dbo.ITEMS ITEMS_1 where ITEMKEY is not null


SELECT     TOP 100 PERCENT 
STOCKMOVES_1.ITEMKEY AS ProductID, 
STOCKMOVES_1.WAREHOUSE AS WarehouseID, 
SUM(DOCUMENTSDEF_1.STOCKUPDATE * STOCKMOVES_1.BASEQUANTITY) AS InStock
FROM LNKHHH.HHHDemo.dbo.STOCKMOVES STOCKMOVES_1 INNER JOIN
LNKHHH.HHHDemo.dbo.DOCUMENTSDEF DOCUMENTSDEF_1 ON STOCKMOVES_1.DOCUMENTID = DOCUMENTSDEF_1.DOCUMENTID
where Status =1
GROUP BY STOCKMOVES_1.ITEMKEY, STOCKMOVES_1.WAREHOUSE
--HAVING      (STOCKMOVES_1.WAREHOUSE in ('2'))







GO
