USE [AmodatIntegrationHHH_Client]
GO
/****** Object:  View [dbo].[FUTURE_CHECKS]    Script Date: 01-Apr-25 11:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE         VIEW [dbo].[FUTURE_CHECKS]
AS
SELECT     TOP 100 PERCENT JURNALTRANSMOVES_1.ACCOUNTKEY, SUM(JURNALTRANS_1.SUF) 
                      AS FUTURE_CHECKS
FROM         LNKHHH.HHHDemo.dbo.JURNALTRANS JURNALTRANS_1 INNER JOIN
                      LNKHHH.HHHDemo.dbo.JURNALTRANSMOVES JURNALTRANSMOVES_1 ON JURNALTRANS_1.TRANSID = JURNALTRANSMOVES_1.TRANSID
WHERE     (JURNALTRANS_1.STATUS <> 0) AND (JURNALTRANS_1.TRANSDEBID in(
select cheqacc from LNKHHH.HHHDemo.dbo.CompanyDefenitions)) AND (JURNALTRANS_1.DUEDATE > GETDATE()) AND 
                      (JURNALTRANSMOVES_1.DEBITCREDIT = 0)
GROUP BY JURNALTRANSMOVES_1.ACCOUNTKEY






GO
